/**************** box *******************/
.box { position:relative; overflow:hidden; width:100%; margin-bottom:10px;}
.box h3 { height:24px; margin-bottom:8px; padding-left:8px; background:#d8dfea; color:#333; border-top:1px solid #3B5888; font-size:12px; line-height:24px;}
.box h3 .stat { height:24px; margin-left:5px; color:#000; font-size:12px; font-weight:normal; line-height:24px;}
.box h3 .count { padding:0 2px;}
.box .readmore { text-align:right;}
.box .more { position:absolute; right:10px; top:0px; line-height:24px;}
.box .more .stat { color:#3B5888;}

/*#eventpage .nav_drop,#marketpage .nav_drop{ position:absolute; z-index:9999; display:none; width:120px; background-color:#fff; padding:5px 0; border:1px solid #3b5888;}
#eventpage .nav_drop li,#marketpage .nav_drop li{ list-style:none; border-bottom:1px solid #eee;}
#eventpage .nav_drop li a,#marketpage .nav_drop li a{display:block; text-align:center;}
#eventpage .nav_drop li a:hover,#marketpage .nav_drop li a:hover{ background-color:#5d74a2; color:#fff; text-decoration:none;}*/

/**************** super-actions *******************/
.super-actions {
position:relative;
}
.super-actions a {
background:transparent url(/img/super_actions.gif) no-repeat scroll 0 0;
display:block;
height:16px;
line-height:16px;
width:16px;
}
.super-actions a:hover {
background:transparent url(/img/super_actions.gif) no-repeat scroll 0 100%;
}
.super-actions-menu {
border-color:#B8B7AF #727271 #727271 #B8B7AF;
border-style:solid;
border-width:1px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
position:absolute;
right:0;
top:18px;
visibility:hidden;
width:64px;
z-index:1000;
}
.super-actions-menu li a.red {
color:#FF0000;
}
#highSchoolCityQuList td{padding: 2px 5px;}
#clublist #tools .super-actions a {
background:transparent url(/img/super_actions_b.gif) no-repeat scroll 0 0;
}
#clublist #tools .super-actions a:hover {
background:transparent url(/img/super_actions_b.gif) no-repeat scroll 0 100%;
}
#comments .info .super-actions-menu {
top:19px;
}
#threadlist .info .super-actions-menu {
top:19px;
}
#clublist #tools .super-actions-menu {
right:1px;
top:19px;
}
*+html #comments .info .super-actions-menu, * + html #threadlist .info .super-actions-menu {
top:17px;
}
.super-actions-menu li {
padding:0 !important;
}
.super-actions-menu li a {
background:#FFFFFF none repeat scroll 0 0 !important;
border-bottom:1px solid #DEDEEF;
display:block;
height:20px;
line-height:20px;
padding-right:10%;
text-align:right;
width:90%;
}
.super-actions-menu li a:hover {
background:#5D74A2 none repeat scroll 0 0 !important;
color:#FFFFFF;
text-decoration:none;
}
.super-actions-menu li.report a {
border-bottom:0 none;
}
.super-actions:hover ul, .super-actions a:hover ul {
visibility:visible;
}
#comments .info .super-actions, #comments .info span.timestamp {
float:right;
}
#userTalk .info .super-actions,#groupWall .info .super-actions,#netWall .info .super-actions {float: right;padding-top: 2px;}


/*common maybe lost*/
/* popup */
.popupwrap { display:none; overflow: hidden; position:absolute; padding:10px; border:1px solid; border-color:#fff #666 #666 #fff; background:#d8dfea; text-align:left; z-index:99999 !important;}
.popupwrap iframe {
    position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
	display:hidden;
}
.popup { display:block; padding:10px; border:1px solid #3B5888; background:#f7f7f7;}
.popup h4 { color:#333; border-bottom:1px solid #e8eef6; line-height:24px;}
.popup p { margin:5px 0; color:#000;}
.popup p.operation { text-align:right;}
#commendit { width:300px;}
/* styling for poke */
#pan { width:300px;}
#poke_confirm, #poke_working, #poke_ok { display:none;}
#poke_ok, #poke_working { text-align:center;}



/*Modified By Adam Lu*/

/*-----------Market----------*/
#marketpage .trade_cate_box .horiz li, .trade_cate_box .list{width:140px !important;}
#marketpage .market_publish_list p .input_width{width:537px !important;}
#marketpage .trade_info_list #div_page{float: right;}

/*----------Gift-----------*/
#giftPage #store-box{padding:5px 3px 0px !important;}
#giftPage #store-box {padding:10px;}

/*----------Survey--------*/
.poll_input, #intro_poll textarea{width:590px !important;}
#friendsListDiv #selector{width:580px !important;}
.poll_space_block{width:597px !important;}

/*----------Survey--------*/
#friendsListDiv #selector{width:580px !important;}
#friendsListDiv label{margin-left:254px !important;}
.polls_itembox .subbutton{color:#fff;}
#poll_comment{width:690px !important;}  


/************ class *************/
/* classinvitepro */
#pageClass .group_invite_left,#eventpage .group_invite_left{width:556px;}
#pageClass  .group_invite_box,#eventpage  .group_invite_box{width:534px;}
/* visitlist */
#pageClass #list-article table{width:100%;}
/* classaddresslist */
#pageClass #list-results .info dt{width:65px;text-align:right;}
#pageClass #list-results .info dd{nwidth:300px;}
#pageClass  .group_invite_left #single-column{ margin-bottom:10px;}
#pageClass  #userlist li{ height:20px; }
#pageClass  .friends_list li label{font-weight:normal !important; height:20px; *padding-top:2px;}
#pageClass  .friends_list li input{*margin-top:0 !important;}
/* managemember */
#pageClass #list-article #member table{text-align:center;}
/* clsbulletin */
#pageClass #postnotice  {width:750px;}
#pageClass #postnotice2 {width:600px;}
#pageClass #desc {width:550px;}
/* classhome */
#pageClass .white-white #wide-column{width:580px;}
#pageClass #main_bulletin.notice2, #pageClass #content #cmtbody{width:550px;}
#classAlbum .wrapper{width:550px;}
#classAlbum #html-carousel{width:495px;}
#pageClass #classDisk ul.fileslist li{background-position:0 1px;height:auto;}
#pageClass #list-results .avatar, #pageClass #list-results .info{margin-left:2em;}
#pageClass #classDisk a img{margin-left:45px;}
#pageClass #msgForm #group_invite_left.group_invite_left {margin-left:50px;}
#pageClass .gray .group_invite_left .group_invite_box form{margin-left:3em;}
#pageClass .gray .cube {padding:10px 0 10px 3em;}
#pageClass  .page{ margin:0}
#pageClass #list-article td.textLeft{text-align:left;}
#pageClass .pager-top{border-bottom:1px solid #D8DFEA; background-color:#fff;}
#pageClass .pager-bottom{ background-color:#fff;}
#pageClass .stdcontainer table.photoList{width:100%;}
#pageClass .stdcontainer table.photoList td{width:19.9%;}
#pageClass .group_invite_right #userlist.friends_list li input{margin:3px 4px 0 0;}
#pageClass  .photo-comments #wide-column { width:583px !important;}
#pageClass  #wide-column  #talk .topic textarea{ width:500px;}

#pageClass #comment  #editorForm  #simplerte{ width:565px;}
#pageClass  #allcomment .postcomment textarea{ width:517px !important;}
#pageClass   #single-column  .postcomment textarea{ width:656px;}
#pageClass #single-column  #userTalk{ padding:10px;}
/* noclass */
#creatClass .m-info2 a.subbutton{color:#fff;}
/* classaddresslist */
#pageClass .white-gray #wide-column{width:617px;}
#pageClass #list-article th, #list-article td{text-align:left;}
#pageClass  .photo-comments #wide-column { width:583px !important;}
#pageClass   #comment #simplerte{ width:90%;}
#pageClass  #uploadForm .upload-intro{ width:auto; float:none; height:40px;}
#pageClass  #uploadForm .upload-area{ margin-left:0 }
#pageClass #allcomment #cmtbody{ width:770px !important;}
/************ movie *************/
#eventpage #event_left{ width:630px}
#eventpage .eventMethod {padding:0pt 25px;}
#eventpage  .upload_pic .options{ width:510px;}
#eventpage .partytable table{ width:100%;}
#eventpage #event .left{width:565px;overflow:hidden;border:none;}
#eventpage #event .right{border:none;_width:190px;overflow:hidden;}
#eventpage .bg_wideline {background:transparent url(http://event.xiaonei.com/img/horizizonal_line.gif) repeat-y scroll 101% 0;}
#eventpage  #talk .author{ float:left;}
#eventpage  #talk .super-actions{ float:right;}
#eventpage  #talk .time{ float:right}
#eventpage #content #cmtbody{width:540px;}

#eventpage #addEventPhotoForm .discription{ padding:5px 10px; color:#808080;}
#eventpage .page-title{ padding:10px 20px;}
#eventpage .page-title h2 {background:transparent url(http://event.xiaonei.com/img/acts.gif) no-repeat scroll 0pt 50%; padding-left:24px;}
#eventpage .page-title p{ padding-left:24px;}

 .infolist {margin:10px 0pt; list-style-type:none;}
 .infolist li{ clear:both; overflow:hidden;}
 .infolist div {background:#FFFFFF none repeat scroll 0%;border:1px solid #D8DFEA;margin:5px 0pt;padding:10px; overflow:hidden;}
 .infolist div:after {clear:both;content:".";display:block;height:0pt;visibility:hidden;}
 .infolist .image {float:left;margin-right:10px;overflow:hidden;}
 .infolist .info {float:left;overflow:hidden;table-layout:fixed;width:550px;}
 .infolist .info caption {color:#808080;font-weight:bold;padding:3px 0pt;text-align:left;}
 .infolist .info th {color:#808080;font-weight:normal;text-align:left;vertical-align:top;}
 .infolist .info .count, .infolist .info .date, .infolist .info .time {font-size:11px;padding:0pt 2px;}
 .infolist .actions {float:right;list-style-image:none;list-style-position:outside;list-style-type:none;width:100px;}
 .infolist .actions li {background:#FFFFFF none repeat scroll 0%;border-bottom:1px solid #D8DFEA;color:#808080;text-indent:8px;}
 .peoplelist .image {width:102px;}
 .peoplelist .info, .people .info caption {width:300px;}

#eventpage #toc,#accountpage #toc {height:28px;line-height:28px;position:relative;}
#eventpage .crumbs,#eventpage .snav,#eventpage .status {padding:0pt 10px;}
#eventpage .crumbs a {font-weight:bold;text-decoration:none;}

#eventpage #toc .status {color:#808080;float:right;}

#eventpage  #message { width:520px;}
#eventpage  #simplerte{height:184px;width:90%;}

#friendpage .page{ text-align:right; padding-right:10px;}
#toc{height:28px;line-height:28px;position:relative;}
.crumbs,.snav, .status{padding:0pt 10px;}
#toc .status {color:#808080;float:right;}
.crumbs a {font-weight:bold;text-decoration:none;}

#accountpage .crumbs a {font-weight:bold;text-decoration:none;}
#accountpage .crumbs,#accountpage .snav, #eventpage .status{padding:0pt 10px;}
#accountpage #toc .status {color:#808080;float:right;}
#accountpage .stdcontainer{ background-color:#f7f7f7; clear:both; overflow:hidden; border-top:1px solid #ccc;}
#accountpage   .messages_div,#accountpage   .errors_div{ margin:10px; padding:10px; border:1px solid; text-align:center; line-height:20px;border-color:#ffe222; background:#fffbe2;}
#accountpage .errors_div	{ border-color:#dd3c10; background:#ffebe8;}

#moviepage h3,#eventpage h3,#pageClass h3{ font-size:12px;}
#moviepage #widewrapper_col #wide-column-mid{width:595px;}
#moviepage .bg_wideline{background-position:614px 0;}
#moviepage .moviethreadlist li .thread .float-right{width:508px;}
#moviepage #recentmovie_boxlist .obs dt, #moviepage #hotmovie_boxlist .obs dt{width:auto; text-align:center;}
#moviepage #recentmovie_boxlist .obs dt table,#moviepage #hotmovie_boxlist .obs dt table{margin:0 auto;}
#moviepage #recentmovie_boxlist .boxcont, #moviepage #hotmovie_boxlist .boxcont{width:450px;margin:0 auto;}
#moviepage #new_review .movie_summary {width:610px;}
#moviepage #annotation_area .avatar_box table,#moviepage .box table.avatar_table{width:100%;}
#moviepage .narrow_col #wide_col{width:593px;}
#moviepage #recommend_movie .rec_movie_box{width:195px;}
#moviepage #hotMovieDiscuss .detailinfo .avatar_box table{margin:5px auto 0;}
#moviepage #latest_review .mv_review li .content_detail{width:560px;}
#moviepage #mymovie .moviethreadlist .movie_summary{width:660px;}
#moviepage #movie_thread .threadlist{width:100%;}
#moviepage #movie_thread th.threadTitle{width:50%;}
#moviepage .threadlist th.threadAuthor{width:20%;}
#moviepage .moviethreadlist .movie_summary{width:425px;}
#moviepage #article_body p{ width:510px; clear:none}
#moviepage  .content_detail{ width:510px;}
#moviepage .detail_cnt{ width:508px;}
#moviepage   #postcommentForm #simplerte{ width:100%;}


/*class univlist */
#pageClass #univlist, #searchSchoolList, #highSchoolList { position:absolute; z-index:9999;}
#univlist_provinces { border-bottom:1px solid #3B5888; width:100%;}
#univlist_provinces td { vertical-align:middle; color:#808080; text-align:center; font-size:13px; padding:2px 5px;}
#univlist_provinces a { font-size:12px;display:block; text-decoration:none;}
#univlist_provinces td.activetab a { background:#3B5888; color:#fff;}
#univlist_provinces:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
#univlist_provinces { *zoom:1;}
#univlist_univs { list-style:none; padding:5px 10px; border:1px solid #d8dfea; background:#fff;}
#univlist_univs:after { content:"."; display:block; height:0; line-height:0; clear:both; visibility:hidden;}
#univlist_univs { *zoom:1;}
#univlist_univs li { float:left; width:140px; border-bottom:1px solid #f4f4f4; line-height:23px;}
#univlist_univs li.univ { width:125px;}
#univlist_univs li a:hover { background:#3B5888; color:#fff; text-decoration:none;}
#searchlist_school { list-style:none; padding:5px 10px; border:1px solid #d8dfea; background:#fff;}
#searchlist_school:after { content:"."; display:block; height:0; line-height:0; clear:both; visibility:hidden;}
#searchlist_school { *zoom:1;}
#searchlist_school li { float:left; width:140px; border-bottom:1px solid #f4f4f4; line-height:23px;}
#searchlist_school li.univ { width:112px;}
#searchlist_school li a:hover { background:#3B5888; color:#fff; text-decoration:none;}
#univlist .operation a { margin-right:180px;}


#stockPage .stock_table table{ width:100%;}

h3.caption {font-size:12px;}
