首次登陆请选择你的地址信息
<form id="form1" name="form1" method="post" action="home/save_network">
  <label>
  <select name="province">
  <option>江苏</option>
  </select>
  <select name="city">
  <option>北京</option>
  <option>盐城</option>
  </select>
  </label>
  <p>
    <label>
    <input type="submit" name="Submit" value="提交">
    </label>
  </p>
</form>
