<ol id="members" class="peoplelist infolist">
						
							<li>
								<div class="people">
									<p class="image">
										<xn:profile-pic uid="<%= user.xid %>" linked="true" />
									</p>
									<table class="info">
										<caption><xn:name uid="<%= user.xid %>" shownetwork="true" />
										</caption>
										
									</table>
									<ul class="actions">
										

		<li><a href="http://xiaonei.com/Poke.do?id=<%= user.xid %>" >打个招呼</a></li>
		<li><a href="http://msg.xiaonei.com/SendMessage.do?id=<%= user.xid %>">发站内信</a></li>
	
										
									</ul>
								</div>
							</li>
						
							
						
					</ol>